ion-tab-bar{
 background-color: rgb(2,0,36);
 background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,78,166,1) 2%, rgba(31,116,215,1) 58%, rgba(4,112,189,1) 68%, rgba(3,137,206,1) 76%, rgba(0,212,255,1) 100%); 
 bottom:0px;
 position: relative;
 vertical-align: bottom;
}
html, body {
  height: 100%;
}
/* ion-tab-button{
    background: #2271b3;
} */
/* 
ion-icon{
    color: #d7d8da;
  } */
.white{
color: #fff
} 