<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="login(email, password)" expand="block">Login</ion-button>
      </ion-col>
     
    </ion-row>
   <!--  <ion-row>
      <ion-col>
        <p class="ion-text-end">
          <a routerLink="/forgot-password">Forgot password? </a>
        </p>
      </ion-col>
    </ion-row> -->
  </form>
  <!-- <ion-row>
    <ion-col>
      <p class="ion-text-end">
        <a routerLink="/register">Create an account </a>
      </p>
    </ion-col>
  </ion-row> -->

</ion-content>