<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 85%;">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Estudiante</ion-card-subtitle>
        <ion-card-title>{{session.user.name}} {{session.user.lastname}}</ion-card-title>
        <br />
        <img src="../../assets/img/perfil.webp" width="70%" class="center" />
      </ion-card-header>
    </ion-card>

    <ion-button (click)="presentModal()" class="center">
      <ion-icon name="person-circle" slot="start"></ion-icon>Datos Personales</ion-button>
    <ion-card>
      <ion-item href="#" class="ion-activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>{{session.user.degree}}</ion-label>
      </ion-item>

      <ion-item href="#">
        <ion-icon name="wine" slot="start"></ion-icon>
        <ion-label>{{session.user.code}}</ion-label>
      </ion-item>

      <ion-item class="ion-activated">
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>{{session.user.email}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
    </ion-card>
    <ion-button (click)="logOut()" style="justify-content: end;">
      <ion-icon name="exit" slot="start"></ion-icon>Cerrar sesión
    </ion-button>
  </div>
  <app-nav-menu></app-nav-menu>
</ion-content>