<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Datos personales</ion-title>
    <ion-buttons slot="end">
      <ion-button onclick="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating" >Nombre</ion-label>
      <ion-input type="text" #name required value={{session.user.name}}></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" #lastname required value={{session.user.lastname}}></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required value={{session.user.email}}></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required value={{session.user.password}}></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Codigo</ion-label>
      <ion-input type="password" #code required value={{session.user.code}}></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Carrera</ion-label>
      <ion-input type="password" #degree required value={{session.user.degree}}></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="update(email, password, name, lastname, code, degree)" expand="block">Update Data</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>